    .blocks {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: none;
    margin: none;
    li{
      display: flex;
      justify-content: center;
  
      &:nth-child(1) {
        background-color: rgb(117, 117, 255);
        padding: 30px 35px;
        border-radius: 20px;
      }
      &:nth-child(2) {
        background-color: rgb(255, 109, 109);
        padding: 30px 35px;
        border-radius: 20px;
      }
      &:nth-child(3) {
        background-color: rgb(231, 155, 67);
        padding: 30px 35px;
        border-radius: 20px;
      }
    }
  }
