.button {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    button{
    padding: 10px 15px;
    font-size: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: purple;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(-2px);
    }
  }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}




