body {
    font-family: $font1;
    color: $color1;
    transition: 2s;
    &.dark {
      background-color: black;
      color: white;
    }
    &.gray{
        background-color: gray;
        color: rgb(11, 173, 165);
    }
  }
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      color: white;
    }
  }
  summary{
    .games{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        margin: 0;
    }
  }
